@model DogGo.Models.ViewModels.WalkerProfileViewModel

@{
    ViewData["Title"] = "Details";
}



<div>
    <h1 class="mb-4">Walker Profile</h1>

    <section class="container">
        <img style="width:100px;float:left;margin-right:20px"
             src="@Model.Walker.ImageUrl" />
        <div>
            <label class="font-weight-bold">Name:</label>
            <span>@Model.Walker.Name</span>
        </div>
        <div>
            <label class="font-weight-bold">Neighborhood:</label>
            <span>@Model.Walker.Neighborhood.Name</span>
        </div>
    </section>
    <hr class="mt-5" />
    <div class="clearfix"></div>

    <div class="row">
        <section class="col-8 container mt-5">
            <h1 class="text-left">Recent Walks</h1>
            <div class="row">
                <table style="width: 50%">

                    <tr>
                        <th>Date</th>
                        <th>Client</th>
                        <th>Duration</th>
                    </tr>
                    @foreach (Walks walk in Model.Walks)
                    {
                        <tr>
                            <td>@Html.DisplayFor(model => walk.Date)</td>

                            <td>@Html.DisplayFor(model => walk.Owner.Name)</td>

                            <td>@Html.DisplayFor(model => walk.Duration) min</td>
                        </tr>
                    }
                </table>
            </div>
        </section>
       

        <section class="col-lg-4 col-md-8 container mt-5">
            <h1>
                Total Walk Time:@ViewBag.Total mins


                @*@foreach (Walks walk in Model.Walks)
                {
            @walk.Sum(x => x.walk.duration);

                        }*@
                
            </h1>


        </section>
    </div>
</div>


<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Walker.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
